<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script>
<!--function A() {-->
<!--        $.get('/api/authors/').done(function (authors) {-->
<!--            authors.forEach(function (author) {-->
<!--                $('authorList').append(`-->
<!--<option  th:value="${author.id}"-->
<!--                    th:text="${author.name}" th:selected="${author.name} == *{author}"></option>-->

<!--                `)-->
<!--            });-->
<!--        })-->
<!--    };-->
<!--    const authors = A();-->
    </script>
    <script>
        function saveNewBook() {
            const savedBookContainer = document.getElementById("saved-book")
            const nameInput = document.getElementById("book-name-input")
            const book = { name: nameInput.value}
            fetch("/add", {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(book)})
            .then(rawResponse => rawResponse.json())
            .then(json => savedBookContainer.innerHTML = JSON.stringify(json, null, 4))
        }
    </script>
<!--    <script>-->
<!--        $authors = $.get('/api/authors/');-->
<!--    </script>-->
    <!--        function getAuthors() {-->
    <!--            fetch("/api/authors/", {-->
    <!--                method: 'GET',-->
    <!--                headers: {-->
    <!--                  'Accept': 'application/json',-->
    <!--                  'Content-Type': 'application/json'-->
    <!--                }})-->
    <!--            .then(rawResponse => rawResponse.json())-->
    <!--        }-->
    <!--        -->
    <!--        ;-->
    <!--        const authors = getAuthors();-->
    <!--        const data = [ { name: 'Option1', value: 'value1' }, { name: 'Option2', value: 'value2' } ]; // assuming the data is an array of objects-->
    <!--const sel = document.getElementById('authorList');-->
    <!--data.forEach(opt => {-->
    <!--    const option = document.createElement('option');-->
    <!--    option.setAttribute('value', opt.value);-->
    <!--    option.innerHTML = opt.name;-->
    <!--    sel.appendChild(option);-->
    <!--});-->

<!--    <script>-->
<!--       const userAction = async () => {-->
<!--  const response = await fetch('/api/authors/', {-->
<!--    method: 'GET',-->
<!--    headers: {-->
<!--      'Content-Type': 'application/json'-->
<!--    }-->
<!--  });-->
<!--  const myJson = await response.json(); //extract JSON from the http response-->
<!--  // do something with myJson-->
<!--}-->
<!--    </script>-->
<!--    <script>-->
<!--    $(function () {-->
<!--        const authorList = document.getElementById('authorList');-->
<!--        $.get('/api/authors/').done(function (authors) {-->
<!--            authors.forEach(function (author) {-->
<!--                const option = document.createElement('option');-->
<!--option.value = author.name;-->
<!--authorList.append(option);-->
<!--            });-->
<!--        })-->
<!--    });-->
<!--</script>-->
    <link rel="icon" href="data:,">
</head>
<body>

<h3>Book Info:</h3>
<form id="edit-form" action="edit.html" th:method="post">

<!--    <div class="row">-->
<!--        <label for="id-input">ID:</label>-->
<!--        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>-->
<!--    </div>-->

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" name="name" type="text" value="Book name"/>
    </div>
    <div class="row">
        <label for="book-author-input">Author:</label>
        <select name="authorList">
            <option id="book-author-input" th:each="author : ${authors}" th:value="${author.name}"
                    th:text="${author.name}" th:selected="${author.name} == *{author}"></option>
        </select>
    </div>

    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <select name="genre" >
            <option id="book-genre-input" th:each="genre : ${genres}" th:value="${genre.name}"
                    th:text="${genre.name}" th:selected="${genre.name} == *{genre}"></option>
        </select>
    </div>
    <div class="mb-1">
        <input type="hidden" id="authorId">
        <label for="authorName" class="form-label" th:text="#{book.author}">Author</label>
        <input
                class="form-control" id="authorName" value="Book author"
                placeholder="Select exist author or enter new"
                th:placeholder="#{book.placeholder-author}"
                th:value="''"
                list="authorList">
        <datalist id="authorList">
            <option value="Existing author name" th:if="${false}"/>
        </datalist>
    </div>
    <div class="mb-1">
        <input type="hidden" id="genreId">
        <label for="genreName" class="form-label" th:text="#{book.genre}">Genre</label>
        <input
                class="form-control" id="genreName" value="Book genre"
                placeholder="Select exist genre or enter new"
                th:placeholder="#{book.placeholder-genre}"
                th:value="''"
                list="genreList">
        <datalist id="genreList">
            <option value="Existing genre name" th:if="${false}"/>
        </datalist>
    </div>

    <div class="row">
        <button type="button" onclick="saveNewBook()" >Save</button>
        <a href="books.html" th:href="@{/}"><button type="button">Go Back</button></a>
    </div>
</form>

<h3>Saved book:</h3>
<pre id = "saved-book"></pre>
<script>

    $(function () {
const authorList = document.getElementById("authorList");
        $.get('/api/authors/').done(function (authors) {
 for (const author of authors) {
        const option = document.createElement("option");
        option.value = author.name;
        authorList.append(`
<option  th:value="${author.id}"
                  th:text="${author.name}"></option>
                `);
    }
        })
    });
</script>
<script th:src="@{/templates/common.js}" src="../templates/common.js"></script>
<script th:src="@{/templates/edit.js}" src="../templates/edit.js"></script>
</body>
</html>