<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Edit book</title>
  <style type="text/css">
    body {
      padding: 50px;
    }

    label {
      display: inline-block;
      width: 100px;
    }

    input:read-only {
      background: lightgray;
    }

    .row {
      margin-top: 10px;
    }
  </style>
  <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
  <script>
        function saveBook() {
            const nameInput = document.getElementById("book-name-input")
            const aInput = document.getElementById("authorList")
            const gInput = document.getElementById("genreList")
            const book = { name: nameInput.value,
            author: aInput.options[aInput.selectedIndex].id,
            genre: gInput.options[gInput.selectedIndex].id}
            fetch("api/books/", {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(book)})
        }
    </script>
</head>
<body>

<h3>Form for new book creation:</h3>
<form id="edit-form"  th:object="${book}">
  <div class="row">
    <label for="book-name-input">Name:</label>
    <input id="book-name-input" name="name" type="text" value="Book name" />
  </div>
  <div class="row">
    <label for="authorList">Author:</label>
    <select id="authorList"></select>
  </div>
  <div class="row">
    <label for="genreList">Genre:</label>
    <select id="genreList"></select>
  </div>

  <div class="row">
    <button type="button" onclick="saveBook()" >Save</button>
    <a href="books.html" th:href="@{/}"><button type="button">Go Back</button></a>
  </div>
</form>
<script>
  $(function () {
      $.get('/api/authors/').done(function (authors) {
          authors.forEach(function (author) {
                          $('#authorList').append(`
<option  th:value="${author.name}" id="${author.name}"
                  th:text="${author.name}">${author.name}</option>

              `)
          });
      })
  });
</script>
<script>
  $(function () {
      $.get('/api/genres/').done(function (genres) {
          genres.forEach(function (genre) {
                          $('#genreList').append(`
<option  th:value="${genre.name}" id="${genre.name}"
                  th:text="${genre.name}" >${genre.name}</option>

              `)
          });
      })
  });
</script>
</body>
</html>